<h1>Listing eventos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Fornecedor</th>
      <th>Vagas</th>
      <th>Local</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.nome %></td>
        <td><%= evento.descricao %></td>
        <td><%= evento.inicio %></td>
        <td><%= evento.fim %></td>
        <td><%= evento.fornecedor %></td>
        <td><%= evento.vagas %></td>
        <td><%= evento.local %></td>
        <td><%= evento.valor %></td>
        <td><%= link_to 'Show', evento %></td>
        <% if responsavel_signed_in? %>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
